.h2 {
    font-size: 19pt;
    margin-top: 75pt;
}

.inputs{
    border: none;
    border-bottom: 0.5px solid black;
    width: 300pt;
}

.add { 
    border-radius: 100pt;
    font-size: 10pt;
}

.todoHeader {
    font-size: 15pt;
    margin-top: 12pt;
}

.duration {
    width: 100pt;
    
}