.h2 {
    font-size: 19pt;
    margin-top: 50pt;
}

.inputs{
    width: 348pt;
    border-radius: 5px;
    border: 1px solid grey;
}

.add { 
    border-radius: 100pt;
    font-size: 10pt;
}

.todoHeader {
    font-size: 15pt;
    margin-top: 12pt;
}

.duration {
    width: 30pt;
}

.taskInput {
    width: 348pt;
}

.durationText {
    margin-right: 89.5pt;
}



