html,
body {
  padding: 0;
  margin: 0;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.shadow-md {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}

.rounded-xl {
  border-radius: 0.65rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.text-110 {
  font-size: 110%;
}

.btn-brand1 {
  background-color: #5593b9;
  border-color: #5593b9;
}

.btn-brand1:hover {
  background-color: #6BA4C7;
  border-color: #6BA4C7;
}

.btn-brand1:active {
  background-color: #6BA4C7;
  border-color: #6BA4C7;
}
