
.container{
    justify-content: center;
    flex-direction: row;
    width: 75%;
    margin:auto;
}

.h1 {
    font-size: 19pt;
}

.description {
    margin-top: 8pt;
}
.homeImage{
    vertical-align: top;
}
.duration {
    width: 48pt;
    border-radius: 5px;
    border: 1px solid grey;
}
.inputs {
    width: 348pt;
    border-radius: 5px;
    border: 1px solid grey;
}