
.container{
    justify-content: center;
    flex-direction: row;
    width: 75%;
    margin:auto;
}

.h1 {
    font-size: 19pt;
}

.description {
    margin-top: 8pt;
}
.homeImage{
    vertical-align: top;
}
