.timeline{
    border-radius: 3pt;
    border-width: 2pt;
    border-color: grey;
    background-color: white;
    border-style: solid;
    width: 100%;
}

.timelineContainer {
    height: 40px;
    display: flex;
    width: 100%;
    margin-bottom: 8pt;
}

.name {
    font-size: 17pt;
    max-width: 90pt;
    white-space: pre;
    overflow: hidden;
    padding-right: 5px;
    min-width: 90pt;
    background-color: white;
    z-index: 15;
}