.box {
    border-width: 2px;
    border-style: solid;
    border-color: #c0b9b9;
    border-radius: 15pt;
    background-color: #ffffff;
    max-width: 240pt;
    float: left;
    height: 28pt;
    margin-bottom: 2.5pt;
    text-align: center;
  }
  
  .contents {
    font-size: 10pt;
    font-weight: 300;
    max-width: 260px;
    overflow: hidden;
    white-space: nowrap;
    color:black;
  }