.box {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(192, 185, 185);
  border-radius: 15pt;
  min-width: 90pt;
  float: left;
  margin-right: 6pt;
  margin-left: 8pt;
}

.title {
  margin-left: 8pt;
  font-weight: 500;
  font-size: 14pt;
  max-width: 93px;
  overflow: hidden;
}

.contents {
  margin-left: 8pt;
  font-size: 10pt;
  font-weight: 300;
  max-width: 110px;
  overflow: hidden;
}
